.structure {
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1;

  header {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    border-bottom: 1px solid #b6bcc863;
    margin: 0px 10px;
    position: relative;

    .logo-nav {
      display: flex;
      align-items: center;
      height: inherit;

      nav {
        height: inherit;
        display: flex;
        align-items: center;

        ul {
          display: flex;
          margin-left: 60px;
          height: inherit;
          align-items: center;

          li {
            height: inherit;

            a {
              display: flex;
              align-items: center;
              margin-right: 30px;
              height: inherit;
              color: $grayish-blue;
              transition: 0.3s all ease;

              &:hover {
                color: $dark-grayish-blue;
                border-bottom: 5px solid $orange;
              }
            }
          }
        }
      }
    }

    .cart-user {
      display: flex;
      align-items: center;

      .cart {
        position: relative;
        z-index: 1;

        .qt-cart {
          position: absolute;
          z-index: 1000;
          right: 0;
          margin: -3px -3px 0 0;
          width: 15px;
          height: 10px;
          border-radius: 40%;
          background-color: $orange;
          font-size: 0.5rem;
          text-align: center;
          color: $white;
          display: none;
        }

        img {
          cursor: pointer;
          transition: 0.3s all ease;

          &:hover {
            filter: brightness(0);
          }
        }
      }

      .user {
        img {
          max-width: 50px;
          max-height: 50px;
          margin-left: 50px;
          cursor: pointer;
          border-radius: 50%;
          transition: 0.3s all ease;

          &:hover {
            border: 3px solid $orange;
          }
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 400px;
    height: 250px;
    right: 0;
    border-radius: 10px;
    box-shadow: -1px 15px 20px #00000034;
    margin: -15px -55px 0 0;
    overflow-y: visible;
    background-color: $white;
    transition: 0.3s all ease;
    opacity: 0;

    p {
      padding: 25px;
      font-weight: bold;
      border-bottom: 1px solid #b6bcc863;
    }

    .items {
      color: $dark-grayish-blue;
      align-self: center;
      padding: 20px;
    }

    &.active {
      animation: dropdownAnime 0.3s ease;
      opacity: 1;
    }
  }
}

@keyframes dropdownAnime {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0px);
  }
}
