main {
  padding: 6.25rem 3.125rem;
  display: grid;
  grid-template-columns: minmax(18.75rem, 31.25rem) 1fr;
  gap: 0px 7.5rem;

  .product-images {
    img {
      border-radius: 0.625rem;
      cursor: pointer;
    }

    .main-image {
      img {
        max-width: 500px;
        margin-bottom: 1.875rem;
        transition: 0.3s all ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .thumbs {
      display: flex;
      justify-content: space-between;

      .thumbnail {
        border-radius: 0.625rem;
        max-width: 6.25rem;
        max-height: 6.25rem;
        transition: 0.3s all ease;

        img {
          max-height: 100%;
          max-height: 100%;
          box-sizing: content-box;
          transition: 0.3s all ease;

          &:hover {
            opacity: 0.3;
            transform: scale(1.02);
          }
        }

        &.active {
          border: 3px solid $orange;

          img {
            opacity: 0.3;
            transform: scale(1.02);
          }
        }
      }
    }
  }

  .product-infos {
    padding-top: 3.125rem;

    .brand {
      color: $orange;
      font-weight: bold;
    }

    h1 {
      font-size: 2.5rem;
      margin: 1.25rem 0rem 2.1875rem 0rem;
    }

    p {
      color: $dark-grayish-blue;
      line-height: 1.4;
      margin-bottom: 1.875rem;
    }

    .price-discount {
      display: flex;
      align-items: center;
      margin-bottom: 0.625rem;

      .actual-price {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 1.25rem;
      }

      .discount {
        padding: 0.1875rem 0.3125rem;
        background-color: $pale-orange;
        border-radius: 0.1875rem;
        color: $orange;
        font-weight: bold;
        font-size: 0.875rem;
      }
    }

    .old-price {
      color: $grayish-blue;
    }

    .qt-add {
      display: flex;
      width: inherit;
      margin-top: 1.875rem;

      .qt,
      .add {
        border-radius: 0.625rem;
        padding: 0.9375rem;
      }

      .qt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 30%;
        background-color: $light-grayish-blue;
        margin-right: 0.9375rem;
        font-weight: bold;

        .qtminus,
        .qtplus {
          cursor: pointer;
        }

        .qtminus {
          margin-top: -0.375rem;
        }
      }

      .add {
        background-color: $orange;
        text-align: center;
        color: $white;
        flex: 1 1 70%;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s all ease;

        img {
          max-width: 0.9375rem;
          filter: brightness(2.5);
          margin-right: 0.625rem;
        }

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}
