.structure {
  max-width: 75rem;
  margin: auto;
  position: relative;
  z-index: 1;

  header {
    display: flex;
    align-items: center;
    height: 6.25rem;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #b6bcc863;
    margin: 0rem 0.625rem;
    position: relative;

    .logo-nav {
      display: flex;
      align-items: center;
      height: inherit;

      nav {
        height: inherit;
        display: flex;
        align-items: center;

        ul {
          display: flex;
          margin-left: 3.75rem;
          height: inherit;
          align-items: center;

          li {
            height: inherit;

            a {
              display: flex;
              align-items: center;
              margin-right: 1.875rem;
              height: inherit;
              color: $grayish-blue;
              transition: 0.3s all ease;

              &:hover {
                color: $dark-grayish-blue;
                border-bottom: 0.3125rem solid $orange;
              }
            }
          }
        }
      }
    }

    .cart-user {
      display: flex;
      align-items: center;

      .cart {
        position: relative;
        z-index: 1;

        .qt-cart {
          position: absolute;
          z-index: 1000;
          right: 0;
          margin: -0.1875rem -0.1875rem 0 0;
          width: 0.9375rem;
          height: 0.625rem;
          border-radius: 40%;
          background-color: $orange;
          font-size: 0.5rem;
          text-align: center;
          color: $white;
          display: none;
        }

        img {
          cursor: pointer;
          transition: 0.3s all ease;

          &:hover {
            filter: brightness(0);
          }
        }
      }

      .user {
        img {
          max-width: 3.125rem;
          max-height: 3.125rem;
          margin-left: 3.125rem;
          cursor: pointer;
          border-radius: 50%;
          transition: 0.3s all ease;

          &:hover {
            border: 0.1875rem solid $orange;
          }
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 25rem;
    height: 15.625rem;
    right: 0;
    border-radius: 10px;
    box-shadow: -0.0625rem 0.9375rem 1.25rem #00000034;
    margin: -0.9375rem -3.4375rem 0 0;
    overflow-y: scroll;
    background-color: $white;
    transition: 0.3s all ease;
    opacity: 0;

    &::-webkit-scrollbar {
      max-width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-grayish-blue;
      border-radius: 0.625rem;
    }

    .cart-title {
      padding: 1.5625rem;
      font-weight: bold;
      border-bottom: 0.0625rem solid #b6bcc863;
    }

    .items {
      color: $dark-grayish-blue;
      padding: 1.5625rem;
      margin: auto;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;

        .prod-img {
          max-width: 3.75rem;
          border-radius: 0.3125rem;
        }

        .price-cart {
          margin-top: 0.625rem;

          .total-price {
            color: $black;
            font-weight: bold;
          }
        }

        .delete {
          cursor: pointer;
          transition: 0.3s all ease;

          &:hover {
            filter: brightness(0);
          }
        }
      }

      .checkout-button {
        @extend %orange-button;
        margin-top: 1.5625rem;
        display: none;
      }
    }

    &.active {
      animation: dropdownAnime 0.3s ease;
      opacity: 1;
    }
  }
}

@keyframes dropdownAnime {
  from {
    transform: translateY(-1.875rem);
  }

  to {
    transform: translateY(0rem);
  }
}
