.structure {
  max-width: 75rem;
  margin: auto;
  position: relative;
  z-index: 1;

  header {
    display: flex;
    align-items: center;
    height: 6.25rem;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #b6bcc863;
    margin: 0rem 0.625rem;
    position: relative;

    @include media-query(33.75rem) {
      height: 70px;
      margin: 0;
      position: fixed;
      inset: 0;
      background-color: $white;

      &.active {
        position: relative;
      }
    }

    .logo-nav {
      display: flex;
      align-items: center;
      height: inherit;

      @include media-query(33.8125rem) {
        margin-left: 0.9375rem;
      }

      @include media-query(23.5rem) {
        margin-left: 0.625rem;
      }
    }

    .cart-user {
      display: flex;
      align-items: center;

      @include media-query(33.75rem) {
        margin-right: 0.9375rem;
      }

      @include media-query(23.5rem) {
        margin-right: 0.625rem;
      }

      .cart {
        position: relative;
        z-index: 1;

        .qt-cart {
          position: absolute;
          z-index: 1000;
          right: 0;
          margin: -0.1875rem -0.1875rem 0 0;
          width: 0.9375rem;
          height: 0.625rem;
          border-radius: 40%;
          background-color: $orange;
          font-size: 0.5rem;
          text-align: center;
          color: $white;
          display: none;
        }

        img {
          cursor: pointer;
          transition: 0.3s all ease;

          &:hover {
            filter: brightness(0);
          }
        }
      }

      .user {
        img {
          max-width: 3.125rem;
          max-height: 3.125rem;
          margin-left: 3.125rem;
          cursor: pointer;
          border-radius: 50%;
          transition: 0.3s all ease;

          @include media-query(33.75rem) {
            max-width: 2.5rem;
            max-height: 2.5rem;
            margin-left: 1.5625rem;
          }

          @include media-query(23.5rem) {
            max-width: 1.875rem;
            max-height: 1.875rem;
          }

          &:hover {
            border: 0.1875rem solid $orange;
          }
        }
      }
    }
  }
}
