main {
  padding: 6.25rem 3.125rem;
  display: grid;
  grid-template-columns: minmax(18.75rem, 31.25rem) 1fr;
  gap: 0px 7.5rem;

  @include media-query(60rem) {
    grid-template-columns: minmax(18.75rem, 31.25rem);
    padding: 30px 0;
    justify-content: center;
  }

  @include media-query(33.75rem) {
    padding: 0;
  }

  .product-images {
    img {
      border-radius: 0.625rem;
      cursor: pointer;

      @include media-query(33.75rem) {
        border-radius: 0;
      }
    }

    .main-image {
      img {
        max-width: 31.25rem;
        margin-bottom: 1.875rem;
        transition: 0.3s all ease;

        @include media-query(33.75rem) {
          object-fit: cover;
          width: 100vw;
          height: 21.875rem;
          margin-bottom: 0rem;
        }

        &:hover {
          transform: scale(1.05);

          @include media-query(33.75rem) {
            transform: none;
          }
        }
      }
    }

    .thumbs {
      display: flex;
      justify-content: space-between;

      @include media-query(33.75rem) {
        display: none;
      }

      .thumbnail {
        border-radius: 0.625rem;
        max-width: 6.25rem;
        max-height: 6.25rem;
        transition: 0.3s all ease;

        img {
          max-height: 100%;
          max-height: 100%;
          box-sizing: content-box;
          transition: 0.3s all ease;

          &:hover {
            opacity: 0.3;
            transform: scale(1.02);
          }
        }

        &.active {
          border: 3px solid $orange;

          img {
            opacity: 0.3;
            transform: scale(1.02);
          }
        }
      }
    }
  }

  .product-infos {
    padding-top: 3.125rem;

    @include media-query(33.75rem) {
      padding: 1.5625rem;
    }

    .brand {
      color: $orange;
      font-weight: bold;

      @include media-query(33.75rem) {
        font-size: 0.8125rem;
      }
    }

    h1 {
      font-size: 2.5rem;
      margin: 1.25rem 0rem 2.1875rem 0rem;

      @include media-query(33.75rem) {
        font-size: 2.1875rem;
        margin: 0.9375rem 0rem 1.25rem 0rem;
      }
    }

    p {
      color: $dark-grayish-blue;
      line-height: 1.4;
      margin-bottom: 1.875rem;
    }

    .price {
      @include media-query(33.75rem) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .price-discount {
        display: flex;
        align-items: center;
        margin-bottom: 0.625rem;

        .actual-price {
          font-size: 1.5rem;
          font-weight: bold;
          margin-right: 1.25rem;
        }

        .discount {
          padding: 0.1875rem 0.3125rem;
          background-color: $pale-orange;
          border-radius: 0.1875rem;
          color: $orange;
          font-weight: bold;
          font-size: 0.875rem;
        }
      }

      .old-price {
        color: $grayish-blue;
      }
    }

    .qt-add {
      display: flex;
      width: inherit;
      margin-top: 1.875rem;

      @include media-query(33.75rem) {
        flex-direction: column;
        margin-top: 1.25rem;
      }

      .qt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 30%;
        background-color: $light-grayish-blue;
        margin-right: 0.9375rem;
        font-weight: bold;
        border-radius: 0.625rem;
        padding: 0.9375rem;

        @include media-query(33.75rem) {
          margin-right: 0;
          margin-bottom: 0.9375rem;
        }

        .qtminus,
        .qtplus {
          cursor: pointer;
        }

        .qtminus {
          margin-top: -0.375rem;
        }
      }

      .add {
        @extend %orange-button;
        flex: 1 1 70%;

        img {
          max-width: 0.9375rem;
          filter: brightness(2.5);
          margin-right: 0.625rem;
        }
      }
    }
  }
}
